@model Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>employee</title>
</head>
<body>
    <div> 
        <h1>Employee added details:</h1>
        <p>Id: @Model.Id</p>
        <p>Name: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Address: @Model.Address</p>
        <p>Password: @Model.Password</p>
    </div>
</body>
</html>
